<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedBoardIds</key>
	<array>
		<string>Mac-031B6874CF7F642A</string>
		<string>Mac-F2268DC8</string>
		<string>Mac-50619A408DB004DA</string>
		<string>Mac-F2218EA9</string>
		<string>Mac-F42D86A9</string>
		<string>Mac-F22C8AC8</string>
		<string>Mac-F22586C8</string>
		<string>Mac-AFD8A9D944EA4843</string>
		<string>Mac-F227BEC8</string>
		<string>Mac-F226BEC8</string>
		<string>Mac-7DF2A3B5E5D671ED</string>
		<string>Mac-35C1E88140C3E6CF</string>
		<string>Mac-942459F5819B171B</string>
		<string>Mac-942B59F58194171B</string>
		<string>Mac-2E6FAB96566FE58C</string>
		<string>Mac-7BA5B2794B2CDB12</string>
		<string>Mac-031AEE4D24BFF0B1</string>
		<string>Mac-00BE6ED71E35EB86</string>
		<string>Mac-4B7AC7E43945597E</string>
		<string>Mac-F22C89C8</string>
		<string>Mac-F221DCC8</string>
		<string>Mac-F42388C8</string>
		<string>Mac-F223BEC8</string>
		<string>Mac-F4238CC8</string>
		<string>Mac-F222BEC8</string>
		<string>Mac-4BC72D62AD45599E</string>
		<string>Mac-F2208EC8</string>
		<string>Mac-66F35F19FE2A0D05</string>
		<string>Mac-F4238BC8</string>
		<string>Mac-F221BEC8</string>
		<string>Mac-C08A6BB70A942AC2</string>
		<string>Mac-8ED6AF5B48C039E1</string>
		<string>Mac-F2238AC8</string>
		<string>Mac-FC02E91DDD3FA6A4</string>
		<string>Mac-6F01561E16C75D06</string>
		<string>Mac-F22589C8</string>
		<string>Mac-F22587A1</string>
		<string>Mac-F22788AA</string>
		<string>Mac-F42C86C8</string>
		<string>Mac-942C5DF58193131B</string>
		<string>Mac-F2238BAE</string>
		<string>Mac-F22C86C8</string>
		<string>Mac-F2268CC8</string>
		<string>Mac-F2218FC8</string>
		<string>Mac-742912EFDBEE19B3</string>
		<string>Mac-27ADBB7B4CEE8E61</string>
		<string>Mac-F65AE981FFA204ED</string>
		<string>Mac-F42D89C8</string>
		<string>Mac-F22587C8</string>
		<string>Mac-F42D89A9</string>
		<string>Mac-F2268AC8</string>
		<string>Mac-F42C89C8</string>
		<string>Mac-942452F5819B1C1B</string>
		<string>Mac-F2218FA9</string>
		<string>Mac-F42D88C8</string>
		<string>Mac-94245B3640C91C81</string>
		<string>Mac-F42D86C8</string>
		<string>Mac-F2268EC8</string>
		<string>Mac-F2268DAE</string>
		<string>Mac-7DF21CB3ED6977E5</string>
		<string>Mac-F42C88C8</string>
		<string>Mac-94245A3940C91C80</string>
		<string>Mac-F42386C8</string>
		<string>Mac-C3EC7CD22292981F</string>
		<string>Mac-942B5BF58194151B</string>
		<string>Mac-F2218EC8</string>
	</array>
</dict>
</plist>
